{% extends 'base.html' %}
{% block content %}
    <div class="box-body">
      <div style="float: right;">
          <a href="/estoque"><button style="width: 190px; height: 40px;" type="button" class="btn btn-primary">Produtos</button></a>
          <a href="/comprar"><button style="width: 190px; height: 40px;" type="button" class="btn btn-primary">Comprar</button></a>
          <a href="/carrilho"><button style="width: 190px; height: 40px;" type="button" class="btn btn-primary">Carrilho</button></a>
        </div>
    </div>

{% endblock %}
