{% extends 'base.html' %}
{% block content %}
  <form method= 'POST'>
          <div>
            <label>Código do produto:</label>
            <input name="codigo" type="number" required>
          </div>
          <div>
            <label>Nome do produto:</label>
            <input name="nome_produto" type="text" required>
          </div>
          <div>
            <label>Quantidade do produto:</label>
            <input name="quantidade" type="number" required>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
  </form>
{% endblock %}
